<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153090353199-h4aba7asah1nl24864rh9j4ir3ihs6n6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153090353199-h4aba7asah1nl24864rh9j4ir3ihs6n6</string>
	<key>API_KEY</key>
	<string>AIzaSyDtnHB4vqkSJWfzia7tdtUr09vCAuEHguE</string>
	<key>GCM_SENDER_ID</key>
	<string>153090353199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drenhealth.dren</string>
	<key>PROJECT_ID</key>
	<string>dren-dfc62</string>
	<key>STORAGE_BUCKET</key>
	<string>dren-dfc62.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153090353199:ios:1e6d7e5fe5af17c02ffeda</string>
</dict>
</plist>